Lesson 2 - Variables
Lesson 4 - Data Structures
Lesson 5 - Loops
Lesson 6 - Functions
Lesson 7 - Higher Order Functions
Lesson 8 - Conditions
Lesson 9 - O Notation
Lesson 10 - Recursion
Lesson 11 - OOP
Lesson 12 - OOP Part 2
Lesson 13 - Additional Functions
Lesson 14 - Extra Features
Lesson 15 - Bonus Recursion
Additional Questions
Exercises/hw1.py
Exercises/hw2.py
Exercises/hw3.py
Exercises/hw4.py
Exercises/miniEx1.md
Exercises/miniEx2.md
Exercises/miniEx3.md
Exercises/miniEx4.md
Exercises/miniEx5.md
Exercises/miniEx6.md
Videos
Videos.zip